* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  --gray: hsl(240, 9%, 89%);

  font-family: 'Work Sans', sans-serif;
  display: grid;
  place-items: center;

  background: linear-gradient(to bottom, #100005 0%, #202020 100%);
}

main {
  background: url(images/Mobile.svg);
  width: 375px;
  height: 800px;
  box-shadow: 0 0 35px var(--gray);
}

.container {
  width: 250px;
  margin: auto;
  text-align: center;
  margin-top: 184px;
}

.avatar img {
  width: 160px;
  height: 184px;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);

  object-fit: cover;
}

.github {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

h1 {
  margin-top: 12px;

  color: var(--gray);
  font-size: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;
}

p {
  margin-top: 32px;

  font-size: 0.85rem;
  color: var(--gray);
}

ul {
  margin: 24px auto auto;
  width: 80%;

  list-style: none;
  padding: 0;

  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 0;
}

ul > li > a > img {
  width: 48px;
  border-radius: 10%;
  box-shadow: 1px 1px 3px black;
}
